[alias]
  br = branch
  ci = commit
  co = checkout
  l = log --oneline --graph
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pu = push
  s = status
  st = stash 
[color]
  ui = true
[init]
  defaultbranch = main
[user]
  name = Benny Cheng
  email = benny12628@gmail.com
  username = benny.cheng

