[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  pu = push
  l = log --oneline
  lo = log --oneline --graph --decorate
  ll = log --pretty=format:'%h %ad | %s%d [%Cgreen%an%Creset]' --graph --date=short
#  lg = log --pretty=format:'%Cred%h%Cre %ad |%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=short
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --color --graph --
  alg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --color --graph --all --
[color]
  ui = true
[commit]
	cleanup = strip
[init]
  defaultBranch = main
[user]
  name = Benny Cheng
  email = benny12628@gmail.com
  username = benny.cheng
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
  prompt = false
